.center {
    align-content: center;
    text-align: center;
}

.book-img {
    width: 100px;
}

.vlog-img {
    width: 100px;
    padding: 10px;
}

.hero {
    /*position: relative;*/
    background-color: black;
    /*width: 100%;*/
    overflow: hidden;
    margin-top: -13%;
}

.hero-img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.hero-text {
    color: white;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: -25%;
}

/*.hero-text h1 {*/
/*    font-size: 2rem;*/
/*    font-weight: 700;*/
/*    margin-bottom: 0;*/
/*    color: white;*/
/*}*/