.center {
    align-content: center;
    text-align: center;
}

.book-img {
    width: 100px;
}

.vlog-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px;
}

.hero {
    background-color: black;
    overflow: hidden;
    margin-top: -13%;
}

.hero-img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.hero-text {
    color: white;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: -25%;
}
